<!DOCTYPE html>
<html lang="on">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="with=device-with, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Mi primer template en Django</h1>
    <p>
      Esto es un ejemplo para llamr en template
    </p>
    <hr>
    {% for items in customers %}
      <p>{{items.name}} {{items.last_name}}</p>
    {% endfor %}
  </body>
</html>
