<!DOCTYPE html>
<html lang="on">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="with=device-with, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script>
    function promedio(cal1,cal2,cal3){
      return (this.cal1+this.cal2+this.cal3)/3
    }
  </script>
  <body>
    <h1>UNIPOLO</h1>
    <h2>
     Calificaciones
    </h2>
    <hr>
    {% for subject in subjects %}
      <h3>Materia: {{subject.subject}}</h3>
      {% for item in califications %}
      {% if item.subject == subject.subject%}
        <p>{{item.student}} - {{item.calif_1}} - {{item.calif_2}} - {{item.calif_3}} | </p>
      {% endif%}
      {% endfor%}
    {% endfor %}
  </body>
  <script><script>
</html>
